{% extends 'store/base.html' %}
{% load static %}
{% block title %} Login here {% endblock title %}

{% block content %}
<div class="container">
    <div class="row my-4">
        <div class="col-md-6 mx-auto">
            <h3 class="alert alert-info text-center">Signin here</h3>
            {% include 'store/mess.html' %}
            <form action="{% url 'signin' %}" class="border p-4" method="POST">
                {% csrf_token %}
                
                
                <div class="mb-3">
                    <label for="username" class="form-label">Email</label>
                    <input name="username" type="text" class="form-control form-control-sm" id="username" required>
                </div>
               
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input placeholder="********" name="password" type="password" class="form-control form-control-sm" id="password" required>
                </div>
                
                <div class="mb-3">
                    <input type="submit" value="Login" class="btn btn-info">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}